.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group 
        groupname
      %ul.main-header__left-box__member-list 
        Member: username
    = link_to "#" do
      .main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker username
        %p.message__upper-info__data 2019/11/16(Sat) 00:00:00
      %p.message__upper-info__text message
  -# .form
  -#   %form.new_message
  -#     .input-box
  -#       %input.input-box__text{name: "message", placeholder: "type a message", type: "text_field"}
  -#       %label.input-box__image
  -#         = icon 'fas', 'image'
  -#         %input{name: "mesaage_image ", type: "file"}
  -#     %input.submit-btn{name: "submit", type: "submit", value: "send"} 

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
